.wf .wfToast * {
  box-sizing: border-box;
}

.wf .wfToast {
	position: absolute;
	z-index: 10000;
	border-radius: 4px;
	overflow: hidden;
	font-family: HelveticaNeue, Helvetica, Arial, sans;
	font-size: 0.85rem;
	padding: 1.2em 0;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-webkit-user-select: none;
  	-moz-user-select: none;   
  	-ms-user-select: none;    
  	-o-user-select: none;
  	user-select: none;   
}

.wf .wfToast .wfToastIcon {
	float: left;
	margin: 0 1em 0 1.2em;
}

.wf .wfToast .wfToastMessage {
	padding: 0 20px 0 0;
	margin-left: 85px;
}
.wf .wfToast .wfToastClose {
	position: absolute;
	right: 8px;
	top: 5px;	
	color: rgba(0,0,0,0.3);
}
.wf .wfToast .wfToastClose:hover {
	color: rgba(0,0,0,0.85);
	cursor: pointer;
}

.wf .wfToast.wfToastTypeInfo {
	background-color: #99ccdd;
	color: #444;
}
.wf .wfToast.wfToastTypeInfo .wfToastIcon i {
	color: rgba(255,255,255,0.8);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.wf .wfToast.wfToastTypeSuccess {
	background-color: #009900;
	color: rgba(255,255,255,0.9);
}
.wf .wfToast.wfToastTypeSuccess .wfToastIcon i {
	color: rgba(255,255,255,0.6);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.wf .wfToast.wfToastTypeWarning {
	background-color: #FFAA00;
	color: rgba(255,255,255,0.9);
}
.wf .wfToast.wfToastTypeWarning .wfToastIcon i {
	color: rgba(255,255,255,0.6);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.wf .wfToast.wfToastTypeError {
	background-color: #CC0000;
	color: rgba(255,255,255,0.9);
}
.wf .wfToast.wfToastTypeError .wfToastIcon i {
	color: rgba(255,200,200,0.7);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}