.wf .wfToast {
	position: absolute;
	z-index: 10000;
	border-radius: 4px;
	overflow: hidden;
	font-family: HelveticaNeue, Helvetica, Arial, sans;
	font-size: 0.85rem;
}

.wf .wfToast .wfToastIcon {
	float: left;
	height: 100%;
	margin: 0 10px;
}

.wf .wfToast .wfToastIcon i {
	color: rgba(255,255,255,0.8);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.wf .wfToast .wfToastMessage {
	margin: 5px 20px 5px 0;
}
.wf .wfToast .wfToastClose {
	position: absolute;
	right: 8px;
	top: 5px;	
	color: rgba(0,0,0,0.3);
}
.wf .wfToast .wfToastClose:hover {
	color: rgba(0,0,0,0.85);
	cursor: pointer;
}

.wf .wfToast.wfToastTypeInfo {
	background-color: #99ccdd;
	color: #333;
}